[submodule "vendor/rocket.rs"]
	path = vendor/rocket.rs
	url = https://github.com/charlesportwoodii/rocket.rs
	branch = peek_buffer
[submodule "vendor/ncryptf-rs"]
	path = vendor/ncryptf-rs
	url = https://github.com/ncryptf/ncryptf-rs
	branch = master
[submodule "vendor/sea-orm"]
	path = vendor/sea-orm
	url = https://github.com/charlesportwoodii/sea-orm
	branch = peek_buffer
