name: Modrinth Release

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: >
          Dry run the release creation (simulate)
        type: boolean
        default: false

defaults:
  run:
    shell: bash

jobs:
  prepare-release:
    name: Prepare Release
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions: write-all
    outputs:
      new_release_published: ${{ steps.semantic-release.outputs.new_release_published }}
      new_release_version: ${{ steps.semantic-release.outputs.new_release_version }}
      new_release_git_tag: ${{ steps.semantic-release.outputs.new_release_git_tag }}
      new_release_notes: ${{ steps.semantic-release.outputs.new_release_notes }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          show-progress: false
          ref: ${{ github.ref }}

      - name: Semantic Release
        id: semantic-release
        uses: cycjimmy/semantic-release-action@v4
        with:
          working_directory: ./mods/java
          dry_run: ${{ inputs.dry-run }}
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Summary
        if: ${{ steps.semantic-release.outputs.new_release_published }}
        run: |
          # Generate a GitHub summary
          {
              echo "## Modrinth Release ${{ steps.semantic-release.outputs.new_release_version }}"
              echo ""
              echo "| Name | Value |"
              echo "| ---- | ----- |"
              echo "| Release | [${{ steps.semantic-release.outputs.new_release_version }}](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/releases/tag/${{ steps.semantic-release.outputs.new_release_git_tag }}) |"
              echo "| Release Type | ${{ github.ref_name == 'beta' && 'beta' || 'release' }} |"
              echo "| Old Version | [${{ steps.semantic-release.outputs.last_release_git_tag }}](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/releases/tag/${{ steps.semantic-release.outputs.last_release_git_tag }}) |"
              echo "| Diff | [${{ steps.semantic-release.outputs.last_release_git_tag }}...${{ steps.semantic-release.outputs.new_release_git_tag }}](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/compare/${{ steps.semantic-release.outputs.last_release_git_tag }}...${{ steps.semantic-release.outputs.new_release_git_tag }}) |"
              echo "| Browse files | [${{ steps.semantic-release.outputs.new_release_git_tag }}](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/tree/${{ steps.semantic-release.outputs.new_release_git_tag }}) |"
              echo "| Commit | [${{ steps.semantic-release.outputs.new_release_git_head }}](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/commit/${{ steps.semantic-release.outputs.new_release_git_head }}) |"
              echo "| Dry Run | ${{ inputs.dry-run && 'Yes' || 'No' }} |"
              echo ""
              echo "> **Note:** Links to the new version will only work after the release is created"
          } >> $GITHUB_STEP_SUMMARY

  build-mod-fabric:
    name: Build Fabric Mod
    needs: prepare-release
    if: ${{ needs.prepare-release.outputs.new_release_published == 'true' && !inputs.dry-run }}
    uses: ./.github/workflows/build-mod-fabric.yml
    with:
      version: ${{ needs.prepare-release.outputs.new_release_version }}

  build-mod-paper:
    name: Build Paper Plugin
    needs: prepare-release
    if: ${{ needs.prepare-release.outputs.new_release_published == 'true' && !inputs.dry-run }}
    uses: ./.github/workflows/build-mod-paper.yml
    with:
      version: ${{ needs.prepare-release.outputs.new_release_version }}

  publish-modrinth-fabric:
    name: Publish Fabric to Modrinth
    needs: [prepare-release, build-mod-fabric]
    if: ${{ needs.prepare-release.outputs.new_release_published == 'true' && !inputs.dry-run }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: bedrock-voice-chat-fabric-${{ needs.prepare-release.outputs.new_release_version }}
          path: ./artifacts

      - name: List artifacts
        run: ls -la ./artifacts

      - name: Publish to Modrinth
        uses: cloudnode-pro/modrinth-publish@v2
        with:
          token: ${{ secrets.MODRITH_PAT }}
          project: ${{ secrets.MODRITH_ID }}
          files: ./artifacts/bedrock-voice-chat-${{ needs.prepare-release.outputs.new_release_version }}.jar
          primary-file: bedrock-voice-chat-${{ needs.prepare-release.outputs.new_release_version }}.jar
          version: ${{ needs.prepare-release.outputs.new_release_version }}
          name: Bedrock Voice Chat ${{ needs.prepare-release.outputs.new_release_version }} (Fabric)
          changelog: ${{ needs.prepare-release.outputs.new_release_notes }}
          featured: true
          dependencies: |-
            [{
              "project_id": "P7dR8mSH",
              "dependency_type": "required"
            }]
          loaders: |-
            fabric
          game-versions: |-
            1.21.11
          channel: ${{ github.ref_name == 'beta' && 'beta' || 'release' }}

  publish-modrinth-paper:
    name: Publish Paper to Modrinth
    needs: [prepare-release, build-mod-paper]
    if: ${{ needs.prepare-release.outputs.new_release_published == 'true' && !inputs.dry-run }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: bedrock-voice-chat-paper-${{ needs.prepare-release.outputs.new_release_version }}
          path: ./artifacts

      - name: List artifacts
        run: ls -la ./artifacts

      - name: Publish to Modrinth
        uses: cloudnode-pro/modrinth-publish@v2
        with:
          token: ${{ secrets.MODRITH_PAT }}
          project: ${{ secrets.MODRITH_ID }}
          files: ./artifacts/bedrock-voice-chat-paper-${{ needs.prepare-release.outputs.new_release_version }}.jar
          primary-file: bedrock-voice-chat-paper-${{ needs.prepare-release.outputs.new_release_version }}.jar
          version: ${{ needs.prepare-release.outputs.new_release_version }}-paper
          name: Bedrock Voice Chat ${{ needs.prepare-release.outputs.new_release_version }} (Paper)
          changelog: ${{ needs.prepare-release.outputs.new_release_notes }}
          featured: true
          loaders: |-
            paper
            spigot
            bukkit
          game-versions: |-
            1.21.11
          channel: ${{ github.ref_name == 'beta' && 'beta' || 'release' }}