name: Modrith Release

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: >
          Dry run the release creation (simulate)
        type: boolean
        default: false
      release-type:
        description: >
          Type of release to create
        type: choice
        options:
          - release
          - beta
        default: release

defaults:
  run:
    shell: bash

jobs:
  prepare-release:
    name: Prepare Release
    runs-on: default
    timeout-minutes: 10
    permissions: write-all
    outputs:
      new_release_published: ${{ steps.semantic-release.outputs.new_release_published }}
      new_release_version: ${{ steps.semantic-release.outputs.new_release_version }}
      new_release_git_tag: ${{ steps.semantic-release.outputs.new_release_git_tag }}
      new_release_notes: ${{ steps.semantic-release.outputs.new_release_notes }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          show-progress: false
          ref: ${{ github.ref }}

      - name: Semantic Release
        id: semantic-release
        uses: cycjimmy/semantic-release-action@v4
        with:
          working_directory: ./mods/java
          repository_url: ${{ github.repository }}
          dry_run: ${{ inputs.dry-run }}
          branches: |
            [
              '+([0-9])?(.{+([0-9]),x}).x',
              'master',
              'main',
              'next',
              'next-major',
              {
                name: 'beta',
                prerelease: true
              }
            ]
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Summary
        if: ${{ steps.semantic-release.outputs.new_release_published }}
        run: |
          # Generate a GitHub summary
          {
              echo "Modrith Release information ${{ steps.semantic-release.outputs.new_release_version }}"
              echo "| Name             | Value      |"
              echo "| -----------------| ---------- |"
              echo "| Release          | [${{ steps.semantic-release.outputs.new_release_version }}](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/releases/tag/${{ steps.semantic-release.outputs.new_release_git_tag }}) |"
              echo "| Old Version      | [${{ steps.semantic-release.outputs.last_release_git_tag }}](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/releases/tag/${{ steps.semantic-release.outputs.last_release_git_tag }}) |"
              echo "| Diff             | [${{ steps.semantic-release.outputs.last_release_git_tag }}...${{ steps.semantic-release.outputs.new_release_git_tag }}](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/compare/${{ steps.semantic-release.outputs.last_release_git_tag }}...${{ steps.semantic-release.outputs.new_release_git_tag }}) |"
              echo "| Browse files     | [${{ steps.semantic-release.outputs.new_release_git_tag }}](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/tree/${{ steps.semantic-release.outputs.new_release_git_tag }}) |"
              echo "| Commit           | [${{ steps.semantic-release.outputs.new_release_git_head }}](${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/commit/${{ steps.semantic-release.outputs.new_release_git_head }}) |"
              echo "| Dry Run          | ${{ inputs.dry-run && ':white_check_mark: Yes' || ':x: No' }} |"

              echo ":warning: Links to the new version ${{ steps.semantic-release.outputs.new_release_version }} will be working only if the release is created"
          } >> $GITHUB_STEP_SUMMARY

  build-mod:
    name: Build Mod
    needs: prepare-release
    if: ${{ needs.prepare-release.outputs.new_release_published == 'true' && !inputs.dry-run }}
    uses: ./.github/workflows/build-mod-java.yml
    with:
      version: ${{ needs.prepare-release.outputs.new_release_version }}

  publish-modrinth:
    name: Publish to Modrinth
    needs: [prepare-release, build-mod]
    if: ${{ needs.prepare-release.outputs.new_release_published == 'true' && !inputs.dry-run }}
    runs-on: default
    timeout-minutes: 10
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: bedrock-voice-chat-fabric-${{ needs.prepare-release.outputs.new_release_version }}
          path: ./artifacts

      - name: List artifacts
        run: ls -la ./artifacts

      - name: Publish to Modrinth
        uses: cloudnode-pro/modrinth-publish@v2
        with:
          token: ${{ secrets.MODRITH_PAT }}
          project: ${{ secrets.MODRITH_ID }}
          files: ./artifacts/bedrock-voice-chat-${{ needs.prepare-release.outputs.new_release_version }}.jar
          primary-file: ./artifacts/bedrock-voice-chat-${{ needs.prepare-release.outputs.new_release_version }}.jar
          version: ${{ needs.prepare-release.outputs.new_release_version }}
          name: Bedrock Voice Chat ${{ needs.prepare-release.outputs.new_release_version }}
          changelog: ${{ needs.prepare-release.outputs.new_release_notes }}
          featured: true
          dependencies: |-
            [{
              "project_id": "P7dR8mSH",
              "dependency_type": "required"
            }]
          loaders: |-
            fabric
          game-versions: |-
            1.21.4
          channel: ${{ inputs.release-type == 'beta' && 'beta' || 'release' }}